.centre {
  margin-left: auto;
  margin-right: auto;
}

.general {
  height: 50%;
  width: 25%;
  border: 2px solid;
  border-radius: 25px;
  color: black;
}

.success {
  background-color: #33CC33;
  transition: background-color 0.5s, color 0.5s;
}

.success:hover {
  background-color: #009933;
}

.fail {
  background-color: #FF0000;
  transition: background-color 0.5s, color 0.5s;
}

.fail:hover {
  background-color: #CC0000;
}

