.success {
  background-color: #33CC33;
  color: #FFFFFF;
  transition: background-color 0.5s, color 0.5s;
}

.success:hover {
  background-color: #009933;
  color: #FFFFFF;
}

.fail {
  background-color: #FF0000;
  color: #FFFFFF;
  transition: background-color 0.5s, color 0.5s;
}

.fail:hover {
  background-color: #CC0000;
  color: #FFFFFF;
}

